<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net472" />
  <package id="JSON" version="1.0.1" targetFramework="net472" />
  <package id="json-serialize" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net472" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net472" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.8.19076.18510" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="3.8.19076.18510" targetFramework="net472" />
</packages>